@import './variables.scss';
@import './mixins.scss';

section {
  width: 100%;
  .top {
    width: 90%;
    margin-left: auto;
    display: flex;
    align-items: center;
    @include laptop {
      width: 100%;
    }

    .search {
      background-color: white;
      flex: 8;
      align-items: center;
      text-align: left;
      display: flex;
      justify-content: space-between;
      margin: 24px;
      padding: 8px;
      box-shadow: 0.5px 1px 12px 0.5px rgba(0, 0, 0, 0.2);
      svg {
        color: darkgray;
        margin: 0px 8px;
        font-size: 18px;
      }
      input {
        width: 100%;
        padding: 4px;
        border: none;
        &:focus {
          outline: none;
        }
      }
      ::-webkit-input-placeholder {
        /* Edge */
        color: grey;
        font-size: 11px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: grey;
        font-size: 11px;
      }

      ::placeholder {
        color: grey;
        font-size: 11px;
      }
      button {
        @include button;
      }
    }
    .notifications {
      flex: 1.5;
      position: relative;
      cursor: pointer;
      @include tablet {
        flex: 1;
      }
      .notifNo {
        position: absolute;
        bottom: 4px;
        right: 20px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 2px 4px;
        font-size: 5px;
        color: white;
      }
      svg {
        color: $primaryColor;
      }
      &:hover {
        .notificationsList {
          display: block;
          z-index: 3;
        }
      }
      .notificationsList {
        position: absolute;
        display: none;
        @include tablet {
          left: -30px;
        }
        top: 40px;
        right: 0px;
        font-size: 8px;
        text-align: left;
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 10px;
        }
        ul {
          list-style-type: none;
          background-color: white;
          width: 140px;
          padding: 12px;
          li {
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              flex: 1;
            }
            h6 {
              font-size: 9px;
              font-weight: 400;
              margin: 1px 0px;
            }
            p {
              font-size: 6px;
            }
            svg {
              margin: 6px;
              font-size: 14px;
            }
          }
          .michael {
            svg {
              color: grey;
            }
          }
          .jack {
            svg {
              color: red;
            }
          }
        }
      }
    }
    .user {
      display: none;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      @include tablet {
        flex: 1.5;
        display: flex;
        align-items: center;
        font-size: 10px;
        p {
          margin-left: 4px;
        }
      }
    }
  }
  .bottom {
    margin: 6px 24px;
    .mobileFilters {
      display: flex;
      margin: 0px;
      @include tablet {
        display: none;
      }
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      position: relative;
      &:hover {
        ul {
          display: block;
        }
      }
      h4 {
        font-size: 10px;
      }
      svg {
        font-size: 14px;
      }
      ul {
        position: absolute;
        list-style-type: none;
        display: none;
        top: 30px;
        font-size: 10px;
        text-align: right;
        background-color: white;
        padding: 0px;
        li {
          padding: 6px;
          &:hover {
            background-color: $primaryColor;
            color: white;
          }
        }
      }
    }
    .filters {
      display: none;
      @include tablet {
        display: flex;
      }
      box-shadow: 0.5px 1px 12px 0.5px rgba(0, 0, 0, 0.2);
    }
    select {
      // flex: 1;
      width: calc(100% / 7);
      padding: 8px 12px;
      font-size: 10px;
      border: none;
      margin: 1px;
      &:focus {
        outline: none;
      }
    }
    option {
      outline: none;
      border: none;
    }
  }
}
